@charset "UTF-8";
*,::after,::before{box-sizing:border-box}
html{text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;background-color:#000;color:#424344;font-weight:400;font-size:1rem;letter-spacing:-.02em;line-height:1.4}