@charset "UTF-8";
.t-mpShorts{position:fixed;top:0;left:0;right:0;bottom:0;
    &__list{width:100%;height:100%;}
    // .swiper-container{width:100%;height:100%;overflow:hidden;border:1px solid transparent;}
}
.p-mpShorts{background:#fff;}
.p-mpShorts__tools{position:fixed;z-index:1000;top:0;left:0;display:none;}

